@charset "UTF-8";
body {	
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
  font-family: 'Raleway', sans-serif;
  line-height: 1.6;
  font-weight: 400;
}
.bg-light{
	background-color: #D9C657 !important;
}
.navbar{
	font-family: 'Raleway', sans-serif;
}
.navbar-light .navbar-brand :hover,
.navbar-light .navbar-brand {
	width: 55px;
	height: 55px;	
}

.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item .active .nav-link{
	font-weight: 600;
	font-size: 18px;
	background:#000002;
	color: #FFF;
}
.navbar-light .navbar-nav .nav-item{
	margin: 0 15px;	
}

.carousel {
  margin-bottom: 4rem;
}
.carousel-caption {
  bottom: 3rem;
	z-index: 10;
}
	
.carousel-item {
	height: 700px;
}

.col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.professionals {
    width: 500px;
    border-radius: 40px;
}
.circle{
	width: 300px;
	height: 300px;
	background-color: #D9C657;
	margin: 8% auto;
	border-radius: 50%;
	position: relative;	
}
.aboutus {
	align-content: center;
}
.content{
	position: absolute;
	width: inherit;
	height: auto;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
}
.instruction{
	margin: 0 auto;
}
.explanation{
	margin: 5% auto;
}
.questionForm{
	margin: 5% auto;
}
.questionForm h3{
	background-color: #D9C657; 
}
.jumbotron{
    background-image: url("../images/forum-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.profiles{
	display: flex;
	justify-content: space-around;
	margin: 20px 80px;
	box-shadow: 0 1.4rem 8rem rgba(0,0,0,.2);
	padding: 0 1rem;
	margin-left: 1rem;
	margin-right: 1rem;
}
.profile-img{
	border-radius: 50%;
	filter: grayscale(100%);
	cursor: pointer;
	transition: 400ms;
}
.profile:hover .profile-img {
	filter: grayscale(0%);
}
.user-name{
	margin-top: 30px;
}
.profile p{
	font-size: 16px;
	margin-top: 20px;
	text-align:center;	
}

.container{
	padding: 30px 0;
	background-color: #FFFFFF;
}
.backgroundimage{
	width: 100%;
	height: auto;
} 
.container #product{
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 1.5rem;
	background-color: darkkhaki;	
}
.productcards{
	width: 100%;
	max-width: 98rem;
	padding: 5rem;
	background-color:#FFFFFF;
	box-shadow: 0 1.4rem 8rem rgba(0,0,0,.2);
	display: flex;
	align-content: center;
	border-radius: .8rem;
	margin: 5%;
}
.background-image{
	min-width: 30rem;
	max-width: 30rem;
	height: 25rem;
	transform: translateX(-8rem);
}
.background-image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	border-radius: .8rem;
}
.background-image::before{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(to right, rgba(225, 200, 0, .8),
	                                      rgba(205, 205, 235, .8));
	box-shadow: .5rem .5rem 3rem 1px rgba(0,0,0,.05);
	border-radius: .8rem;
}

.publication-details span{
	display: block;
	color: rgba(0,0,0,.5);
	font-size: 1rem;
	font-weight: 600;
	margin: .5rem 0;
}
.title{
	font-size: 1.9rem;
	margin: 1rem 0 2rem;
	text-transform: uppercase;
	color:#D9C657;
	font-weight: bold;
}
.subtitle{
	font-size: 1.6rem;
	font-weight: bolder;
	margin: 1rem 0 1.2rem
}
.description{
	margin-bottom: 3rem;
	font-size: 1rem;
	color: rgba(0,0,0,.7);
}
.cta{
	display: inline-block;
	padding: 1.5rem 3rem;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 1.2rem;
	color: #FFFFFF;
	background-image: linear-gradient(to right, #ebd000 0%, #d9ccff 100%);
	border-radius: .8rem;
	text-decoration: none;
}
cta:hover{
	background-image: linear-gradient(to right, #d9ccff 0%,#4facfe 100%);
}
@media screen and (max-width: 1068px){
	.container #product{
		max-width: 80rem;
	}
	.publication-details{
		font-size: 0.8rem;
	}
	.background-image{
		min-width: 25rem;
		max-width: 25rem;
	}
	.title{
		font-size: 1.5rem;
	}
	.description{
		font-size: 1rem;
	}
}
@media screen and (max-width: 868px){
	.container #product{
		max-width: 70rem;
	}
	.publication-details{
		font-size: 0.5rem;
	}
	
}
@media screen and (max-width: 768px){
	.container #product{
		padding: 2.5rem;
		flex-direction: column;
	}
	.publication-details{
		font-size: 0.3rem;
	}
	.background-image{
		min-width: 100%;
		max-width: 100%;
		transform: translate(0, -8rem);
	}

}

footer {
	background-color: #D9C657 !important;
	padding: 40px 0;
	line-height: 25px;
	font-family: 'Raleway', sans-serif;
}
